<article class="post">
	<header class="post-header">
		<div class="post-title"> 
			{{ page.title | escape }}
		</div>
		<time class="post-date dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
			{%- assign date_format = site.date_forma | default: "%Y/%m/%d" -%}
			{{ page.date | date: date_format }}
		</time>		
	</header>

	<div class="post-content">
		{{ content }}
	</div>

	<div class="col-lg-8 col-md-10 mx-auto">
		<hr/>
		<script src="https://utteranc.es/client.js"
				repo="heedu-yoon/heedu-yoon.github.io"
				issue-term="url"
				theme="github-dark"
				crossorigin="anonymous"
				async>
		</script>
	</div>

</article>